* text=auto eol=lf

*.cs        text diff=csharp
*.csproj    text merge=union eol=lf
*.props     text merge=union eol=lf
*.targets   text merge=union eol=lf
*.sln       text eol=crlf merge=union
*.json      text eol=lf
*.yml       text eol=lf
*.yaml      text eol=lf
*.md        text eol=lf
*.sh        text eol=lf

*.png   binary
*.jpg   binary
*.jpeg  binary
*.gif   binary
*.ico   binary
*.pdf   binary
*.zip   binary
*.nupkg binary
*.snupkg binary
*.pfx   binary
*.snk   binary
